[01]-laravel-basic/.phpunit.cache
[01]-laravel-basic/vendor
[01]-laravel-basic/node_modules

[01]-laravel-basic/public/build
[01]-laravel-basic/public/hot
[01]-laravel-basic/public/storage
[01]-laravel-basic/storage/*.key

[01]-laravel-basic/.env
[01]-laravel-basic/.env.backup
[01]-laravel-basic/.env.production

[01]-laravel-basic/.phpunit.result.cache
[01]-laravel-basic/Homestead.json
[01]-laravel-basic/Homestead.yaml
[01]-laravel-basic/auth.json
[01]-laravel-basic/npm-debug.log
[01]-laravel-basic/yarn-error.log
[01]-laravel-basic/.fleet
[01]-laravel-basic/.idea
[01]-laravel-basic/.vscode

[06]-laravel-database/.phpunit.cache
[06]-laravel-database/vendor
[06]-laravel-database/node_modules

[06]-laravel-database/public/build
[06]-laravel-database/public/hot
[06]-laravel-database/public/storage
[06]-laravel-database/storage/*.key

[06]-laravel-database/.env
[06]-laravel-database/.env.backup
[06]-laravel-database/.env.production

[06]-laravel-database/.phpunit.result.cache
[06]-laravel-database/Homestead.json
[06]-laravel-database/Homestead.yaml
[06]-laravel-database/auth.json
[06]-laravel-database/npm-debug.log
[06]-laravel-database/yarn-error.log
[06]-laravel-database/.fleet
[06]-laravel-database/.idea
[06]-laravel-database/.vscode